<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Mes favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let movie of movies | favorite" >
    <div *ngIf="movie.status === 'favorites'">{{movie.title}}<ion-thumbnail slot="start">
      <ion-img class="displayed" [src]="movie.photoUrl"></ion-img>
    </ion-thumbnail></div>
  </div>
</ion-content>
