<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Accueil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="/assets/images/class.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Gestion de l'assiduité</ion-card-subtitle>
      <ion-card-title>Attendance</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Attendance est une application de gestion de l'assiduité d'une classe
      d'étudiants.</p>
      <ion-button (click)='openUrl("https://ionic.io/docs")'>Ouvrir docs</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
